<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="accountFinderService" class="bzh.greta.bank.service.AccountFinderService" >
        <constructor-arg name="accountDao" ref="accountDao"/>
    </bean>
    <bean id="accountDao" class="bzh.greta.bank.dao.AccountDaoDb"/>
    <bean id="withdrawService" class="bzh.greta.bank.service.WithdrawService" />
    <bean id="depositService" class="bzh.greta.bank.service.DepositService"/>
    <bean id="menuRouter" class="bzh.greta.bank.router.MenuRouter">
        <constructor-arg name="withdrawService" ref="withdrawService"/>
        <constructor-arg name="depositService" ref="depositService"/>
    </bean>

</beans>